
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<li style="">
    <ul><a style="color: black;" href="@Url.Action("GamesList","Admin")">Список игр</a></ul>
    <ul><a style="color: black;" href="@Url.Action("UsersList","Admin")">Список пользователей</a></ul>
    <ul><a style="color: black;" href="@Url.Action("OrdersList","Admin")">Список покупок пользователей</a></ul>
</li>   


