
@{
    ViewBag.Title = "PCG Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.Prov

<h2>Новики:</h2>
<div id="gamesList">
    @{ Html.RenderPartial("_gamesListPartial"); }
    
</div>
